<h1>C.R.U.D Teachers </h1> 
<button mat-button class="menu-button" routerLink="/admin/ajouterEnseignant">
    <mat-icon>add</mat-icon>
    <span>Add</span>
</button>

<button mat-button class="menu-button" routerLink="/admin/modifierEnseignant">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
</button>

<button mat-button class="menu-button" routerLink="/admin/supprimerEnseignant">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
</button>

<button mat-button class="menu-button" routerLink="/admin/listEnseignant">
    <mat-icon>list</mat-icon>
    <span>List</span>
</button>

<h1>Registration and deregistration of teachers of a module</h1> 

<button mat-button class="menu-button" routerLink="/admin/indexInscriptionDesinscriptionModule">
    <mat-icon>list</mat-icon>
    <span>Registration / Deregistration</span>
</button>

