<h1>Registration and registration of a teacher</h1>
<mat-list>
  <mat-list-item *ngFor="let enseignant of enseignants">
    <h3 matLine> {{enseignant.prenom}} {{enseignant.nom}}  </h3>
    <p matLine>
      <span> {{enseignant.email}} </span>
      <span class="demo-2"> -- {{enseignant.role}} </span>
    </p>
    <button mat-button color="primary" [routerLink]="['/admin/inscriptionModuleDetail/' ,enseignant['_id']]">To register</button>
    <button mat-button color="primary" [routerLink]="['/admin/attributionGroupe/' ,enseignant['_id']]">Assigned Group </button>
    <button mat-button color="warn" [routerLink]="['/admin/desinscriptionModuleDetail/' ,enseignant['_id']]">Unsubscribe</button>
  </mat-list-item>
</mat-list>

